* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: serif;
}
.outer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.input {
  text-align: center;
  margin: 50px 0;
}

input[type="text"] {
  height: 50px;
  width: 600px;
  background: white;
  font-size: 20px;
}

input[type="submit"] {
  height: 50px;
  width: 100px;
  background: white;
  font-style: 20px;
}

.container {
  display: flex;
  align-items: center;
  /* justify-content: center; */
  flex-direction: column;
  border: 2px solid black;
  height: 70%;
  width: 30vw;
  margin: auto;
  transition: 1s ease-in-out;
  box-shadow: 0px 0px 15px -8px black;

}
/* .outer .container :hover {
  transform: scale(1.05);
  
} */
.effect{
    cursor: pointer;
}
.top {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 60px 0;
  transition: 1s ease-in-out;
  transform: scale(1.05);
}
.bottom {
  display: flex;
  flex: 0;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
  font-size: 25px;
  font-family: monospace;
  font-weight: 1000;

}
.bottom p {
  padding: 10px;
  /* transition: 1s ease-in-out; */
}
@media screen and (max-width: 1332px) {
  .bottom {
    font-size: 20px;
  }
  .top h1 {
    font-size: 25px;
  }
  .container {
    height: 50vh;
    width: 40vw;
    margin: 0 auto;
  }
  input[type="text"] {
    height: 50px;
    width: 300px;
    background: white;
    font-size: 20px;
    margin: 0 10px;
  }
  .input {
    text-align: center;
    margin: 50px 0;
    display: flex;
  }
}
@media screen and (max-width: 727px) {
  .bottom {
    font-size: 20px;
  }
  .top h1 {
    font-size: 25px;
  }
  .top {
    padding: 30px 0;
  }
  .container {
    height: 50vh;
    width: 40vw;
    margin: 0 auto;
  }
  input[type="text"] {
    height: 50px;
    width: 300px;
    background: white;
    font-size: 20px;
  }
  .input {
    text-align: center;
    margin: 20px 0;
  }
}
@media screen and (max-width: 450px) {
  .container {
    width: 60vw;
    height: 40vh;
  }
  .bottom {
    font-size: 15px;
  }
  .top h1 {
    font-size: 20px;
  }
  input[type="text"] {
    height: 30px;
    width: 150px;
    background: white;
    font-size: 15px;
  }
  input[type="submit"] {
    height: 30px;
    width: 50px;
    background: white;
    font-style: 10px;
  }
}
